body {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: #00853E;
}

.header a:link, .header a:visited {
    color: white;
}

.front-pic img {
    /*height: 679px;
    width: 2037px;*/
    width: 100%;
    filter: brightness(60%);
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: center;
}

