body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #00853E;
}

.header a:link, .header a:visited {
    color: white;
}

.front-pic {
    position: relative;
}

.front-pic img {
    filter: brightness(60%);
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: center;
}

.department {
    text-transform: uppercase;
}

/* breadcrumb navigation */

/* style list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}

/* display list item side by side */
ul.breadcrumb li {
    display: inline;
}

/* add '/' w/ nbsp behind each list item */
ul.breadcrumb li+li::before {
    padding: 8px;
    color: lightgray;
    content: "/\00a0";
}

/* add color to links inside list */
ul.breadcrumb li a {
    color: #00853E;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: black;
    text-decoration: none;
}

.main {
    padding: 0 0.85rem;
    box-sizing: border-box;
}